<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ scenario_name }} - Completed</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="/static/css/completed_page.css" rel="stylesheet" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div
      style="background: url('/static/img/background_image.png')"
      class="page-holder bg-cover d-flex align-items-end"
    >
      <div
        class="container base-container d-flex align-items-center justify-content-center"
      >
        <div class="base-textbox">
          <div class="row">
            <div class="col"></div>
            <div class="col-10 text-start">
              <div class="congrats-text">Congratulations!</div>
              <div class="header-text">
                {{ scenario_conclusion_data['header_text'] }}
              </div>
              <div class="lessons-learnt-text">Lessons Learned Today</div>
              <div class="header-text">
                {{ scenario_conclusion_data['paragraph_text'] }}
              </div>
              <div class="share-link-header">Share it with your friends!</div>
              <div class="share-link-input-div row">
                <div class="col-9">
                  <input
                    id="shareLinkInput"
                    class="share-link-input-box"
                    type="text"
                    value="{{ scenario_conclusion_data['share_link'] }}"
                    readonly
                  />
                </div>
                <div class="col-3">
                  <a
                    href="#"
                    id="copy-link-button-id"
                    class="copy-share-link-text"
                    onclick="copyLink();return false;"
                    role="button"
                    tabindex="0"
                  >
                    Copy Link
                  </a>
                </div>
              </div>
              {% if scenario_conclusion_data.get('external_link', None) %}
              <div class="external-link-header">Feedback form</div>
              <div class="header-text">
                Have some feedback about your experience today? Please fill out
                the form by clicking
                <a
                  href="{{ scenario_conclusion_data['external_link'] }}"
                  target="_blank"
                  >here</a
                >
                or visiting the link below:
              </div>
              <div class="share-link-input-div row">
                <div class="col-9">
                  <input
                    id="externalLinkInput"
                    class="share-link-input-box"
                    type="text"
                    value="{{ scenario_conclusion_data['external_link'] }}"
                    readonly
                  />
                </div>
                <div class="col-3">
                  <a
                    href="#"
                    id="external-link-button-id"
                    class="copy-share-link-text"
                    onclick="copyExternalLink();return false;"
                    role="button"
                    tabindex="0"
                  >
                    Copy Link
                  </a>
                </div>
              </div>
              {% end %}
              <div class="back-to-lobby-div">
                <button
                  type="button"
                  class="btn back-to-lobby-button back-to-lobby-button-text"
                  onclick="redirectToLandingPage();"
                >
                  Back to Lobby
                </button>
              </div>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function copyLink() {
        /* Get the text field */
        let copyText = document.getElementById("shareLinkInput");

        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        document.execCommand("copy");
        copyText.setSelectionRange(0, 0);
        let copyLinkButton = document.getElementById("copy-link-button-id");
        copyLinkButton.innerHTML = "Link Copied";
        let externalCopyLinkButton = document.getElementById(
          "external-link-button-id"
        );
        if (externalCopyLinkButton) {
          externalCopyLinkButton.innerHTML = "Copy Link";
        }
      }

      function copyExternalLink() {
        /* Get the text field */
        let copyText = document.getElementById("externalLinkInput");

        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        document.execCommand("copy");
        copyText.setSelectionRange(0, 0);
        let externalCopyLinkButton = document.getElementById(
          "external-link-button-id"
        );
        externalCopyLinkButton.innerHTML = "Link Copied";
        let copyLinkButton = document.getElementById("copy-link-button-id");
        copyLinkButton.innerHTML = "Copy Link";
      }
      function redirectToLandingPage() {
        let nextURL = "/";
        window.location.replace(nextURL);
      }
    </script>
  </body>
</html>
