<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ scenario_name }}</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="/static/css/landing_page.css" rel="stylesheet" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-NCV4M5LZE1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-NCV4M5LZE1");
    </script>
  </head>

  <body>
    <div
      id="base-container-portrait"
      class="text-center d-flex align-items-center"
      style="height: 100vh"
    >
      <div class="container">
        <img
          src="/static/img/smartphone.png"
          class="img-fluid"
          alt="Responsive image"
        />
        <h1>Please switch device to Landscape mode for the best experience!</h1>
      </div>
    </div>
    <!-- Background image -->
    <div
      style="background: url('/static/img/background_image.png')"
      class="page-holder bg-cover d-flex align-items-end"
      id="base-container"
    >
      <div
        class="container base-container d-flex align-items-center justify-content-start"
      >
        <div class="row p-1">
          <div class="p-1 slanted welcome-to-text">Welcome to</div>
          <div class="p-1 slanted escape-room-text">{{ scenario_name }}</div>
          <div class="slanted-play-button">
            <img
              type="button"
              src="/static/img/play_button.svg"
              onmouseover="this.src='/static/img/play_button_hover.svg';"
              onmouseout="this.src='/static/img/play_button.svg';"
              class="slanted-play-button-img"
              onclick="playButtonClicked()"
            />
            <div class="play-button-text">play</div>
          </div>
        </div>
      </div>
      <div type="button" data-bs-toggle="modal" data-bs-target="#helpModal">
        <img
          src="/static/img/help_question.svg"
          class="help-question-icon btn btn-custom-help"
        />
        <div class="help-button-text btn">What's this?</div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal"
      id="playModal"
      tabindex="-1"
      aria-labelledby="playGameLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="play-modal-title">How to play</div>
          <div class="play-modal-body" id="start-game-text-content">
            Welcome to the game! We're going to start with a quick tutorial.
          </div>
          <button
            type="button"
            class="btn start-button start-button-text"
            onclick="playTutorial()"
          >
            Start!
          </button>
          <button
            type="button"
            class="btn skip-button skip-button-text"
            onclick="skipTutorial()"
          >
            Skip
          </button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal"
      id="helpModal"
      tabindex="-1"
      aria-labelledby="helpGameLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" id="help-modal-dialog">
        <div class="modal-content">
          <div class="help-modal-header">What's this?</div>
          <div class="help-modal-body">
            Welcome to the Escape room! This is an escape room designed to help
            individuals learn about mental health resources in a fun interactive
            way. If you are up for a fun challenge, while learning about some
            cool resources available to you, hit the play button!
          </div>
          <button
            type="button"
            class="btn got-it-button got-it-button-text"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Got it!
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile Warning Modal -->
    <div
      class="modal"
      id="mobileHelpModal"
      tabindex="-1"
      aria-labelledby="mobilehelpGameLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" id="mobile-help-modal-dialog">
        <div class="modal-content">
          <div class="help-modal-header">Warning!</div>
          <div class="help-modal-body">
            Welcome to the Escape room! This is an escape room experience that
            was designed for a desktop. You will still be able to continue and
            play the game, however, for the best experience it is recommended
            that you switch to a desktop.
          </div>
          <button
            type="button"
            class="btn got-it-button got-it-button-text"
            data-bs-dismiss="modal"
            aria-label="Close"
            onclick="skipTutorial()"
          >
            Let's Play!
          </button>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      function playTutorial() {
        let nextURL = "/{{ scenario_friendly_name }}/tutorial";
        window.location.replace(nextURL);
      }
      function skipTutorial() {
        let nextURL = "/{{ scenario_friendly_name }}/3500d0b";
        window.location.replace(nextURL);
      }
      function playButtonClicked() {
        if (
          /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
            navigator.userAgent
          ) ||
          /Mobi|Android/i.test(navigator.userAgent)
        ) {
          // it is a mobile device (https://developer.mozilla.org/en-US/docs/Web/HTTP/Browser_detection_using_the_user_agent#mobile_tablet_or_desktop)
          // In summary, we recommend looking for the string Mobi anywhere in the User Agent to detect a mobile device.
          const modal = new bootstrap.Modal(
            document.getElementById("mobileHelpModal"),
            {}
          );
          modal.show();
        } else {
          const modal = new bootstrap.Modal(
            document.getElementById("playModal"),
            {}
          );
          modal.show();
        }
      }
    </script>
  </body>
</html>
