<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ scenario_dict["name"] }} - {{ scene_dict["name"] }}</title>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-environment-component/dist/aframe-environment-component.min.js"></script>

    <!-- A-frame components   -->
    <script src="../static/js/components/animation-on-click.js"></script>
    <script src="../static/js/components/close-popup.js"></script>
    <script src="../static/js/components/prism.js"></script>

  </head>

  <body>
    <div id="scene-root">
      <a-scene cursor="rayOrigin:mouse" raycaster="objects: .link">
        <a-assets timeout="50000">
          {% for object in scene_dict["objects"] %}
          <!--  TODO: deal with multiple objects of same asset type  -->
          <a-asset-item
            id="{{ object['asset_id'] }}-asset-src"
            src="{{ asset_prefix_url }}{{ object['asset_details']['s3_key'] }}"
          ></a-asset-item>
          {% end %}

        <!--  Background  -->
          <a-asset-item
            id="{{ scene_dict['background_details']['id'] }}-asset-src"
            src="{{ asset_prefix_url }}{{ scene_dict['background_details']['s3_key'] }}"
          ></a-asset-item>

        </a-assets>
        <a-entity environment="preset: forest; dressingAmount: 500; playArea: 10"></a-entity>

        <!--  Background  -->
        <a-gltf-model
            id="{{ scene_dict['background_details']['id'] }}-background"
            src="#{{ scene_dict['background_details']['id'] }}-asset-src"
            position="{{ scene_dict['position'][0] }} {{ scene_dict['position'][1] }} {{ scene_dict['position'][2] }}"
            scale="{{ scene_dict['scale'][0] }} {{ scene_dict['scale'][1] }} {{ scene_dict['scale'][2] }}"
            rotation="{{ scene_dict['rotation'][0] }} {{ scene_dict['rotation'][1] }} {{ scene_dict['rotation'][2] }}"
        ></a-gltf-model>

        <a-entity
          id="primaryCamera"
          camera
          {% if scene_dict["camera_properties"]["look_controls"] %}
            look-controls
          {% end %}
          {% if scene_dict["camera_properties"]["wasd_controls"] %}
            wasd-controls
          {% end %}
          position="{{ scene_dict['camera_properties']['position'][0] }} {{ scene_dict['camera_properties']['position'][1] }} {{ scene_dict['camera_properties']['position'][2] }}"
        ></a-entity>

        {% include popup.html %}

<!--  Keeping for future reference  -->
<!--        <a-entity-->
<!--          geometry="primitive: plane; width: 4; height: auto"-->
<!--          position="-3.237 3 -2.0"-->
<!--          material="color: blue"-->
<!--          text="value: {{ scene_dict['name'] }}; align: center"-->
<!--        ></a-entity>-->

        <!-- Objects in the scene -->
        {% for object in scene_dict["objects"] %}
        <a-gltf-model
          id="{{ object['id'] }}-obj"
          src="#{{ object['asset_id'] }}-asset-src"
          position="{{ object['position'][0] }} {{ object['position'][1] }} {{ object['position'][2] }}"
          scale="{{ object['scale'][0] }} {{ object['scale'][1] }} {{ object['scale'][2] }}"
          rotation="{{ object['rotation'][0] }} {{ object['rotation'][1] }} {{ object['rotation'][2] }}"
          {% if object["is_interactable"] %}
            class="link"
            animation__onclick="property: position; dur: 0; startEvents: click"
            animation-on-click-run='blackboardData: {% raw json.dumps(object["animations_json"]["blackboardData"]) %}'
          {% end %}
        ></a-gltf-model>
        {% end %}
      </a-scene>
    </div>
  </body>
</html>
