<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ scenario_name }} - Tutorial</title>
    <script src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.controls.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.pathfinding.min.js"></script>
    <script src="https://unpkg.com/aframe-environment-component@1.1.0/dist/aframe-environment-component.min.js"></script>
    <script src="https://unpkg.com/aframe-super-keyboard@2.1.0/dist/aframe-super-keyboard.min.js"></script>
    <script src="https://unpkg.com/aframe-state-component@7.1.0/dist/aframe-state-component.min.js"></script>
    <script src="https://unpkg.com/aframe-drag-controls@1.0.0/index.js"></script>
    <!-- A-frame components -->
    <!-- TODO: minify and combine all components once we are done -->
    <script src="/static/js/components/animation-on-click.js"></script>
    <script src="/static/js/components/close-popup.js"></script>
    <script src="/static/js/components/keypad.js"></script>
    <script src="/static/js/components/text-pane.js"></script>
    <script src="/static/js/components/visual-pane.js"></script>
    <script src="/static/js/components/hint-button.js"></script>
    <!-- Initial state -->
    <script>
      AFRAME.registerState({
        initialState: {
          solvedObjects: {},
        },
        handlers: {
          solvedObject: function (state, action) {
            state.solvedObjects[action.id] = true;
          },
          initializeObject: function (state, action) {
            state.solvedObjects[action.id] = action.solved;
          },
        },
      });
    </script>
  </head>
  <body>
    <div id="scene-root">
      <a-scene id="3-scene" cursor="rayOrigin:mouse" raycaster="objects: .link">
        <a-assets timeout="50000">
          <a-asset-item
            id="1-asset-src"
            src="{{ asset_prefix_url }}assets/752258ee7ff140e98a6f73fcca4e7efd.glb"
          ></a-asset-item>
          <!-- Background -->
          <a-asset-item
            id="2-asset-src"
            src="{{ asset_prefix_url }}assets/ac38abdce987432980ddcbdbba4190f9.glb"
          ></a-asset-item>
          <!-- Background nav mesh -->
          <a-asset-item
            id="2-asset-navmesh-src"
            src="{{ asset_prefix_url }}assets/ac38abdce987432980ddcbdbba4190f9-navmesh.gltf"
          ></a-asset-item>
        </a-assets>
        <a-entity
          environment="preset: forest; dressingAmount: 500; playArea: 10"
        ></a-entity>
        <!-- Background -->
        <a-gltf-model
          id="2-background"
          src="#2-asset-src"
          position="0.0 0.03 0.0"
          scale="1.0 1.0 1.0"
          rotation="0.0 0.0 0.0"
        ></a-gltf-model>
        <!-- Background nav-mesh -->
        <a-gltf-model
          id="2-background-navmesh"
          src="#2-asset-navmesh-src"
          position="0.0 0.03 0.0"
          scale="1.0 1.0 1.0"
          rotation="0.0 0.0 0.0"
          nav-mesh
          visible="false"
        ></a-gltf-model>
        <a-entity
          id="rig"
          movement-controls="constrainToNavMesh: true;
controls: checkpoint, gamepad, trackpad, keyboard, touch;"
          position="-2.17 0 2.659"
        >
          <a-entity
            id="primaryCamera"
            camera="active: false;"
            fov="80"
            look-controls
            position="0 1.689 0"
          >
            <!-- Hints -->
            <a-entity
              id="hint-button"
              class="link"
              hint-button='jsonData: {"newHintImg": "/static/img/lightOn.png", "hintImg": "/static/img/lightOff.png", "width": 0.08, "height": 0.08}'
              animation__onclick="property: position; dur: 0; startEvents: click"
              animation-on-click-run='blackboardData: {"jsonData": {"data": [{"text": "Pay attention to objects that provide clues."}, {"text": "Pay more attention to those objects."}, {"text": "If you cannot find the objects then try clicking on stuff."}, {"text": "If you still cannot find clues then revisit the previous hint."}], "currPosition": 0}, "componentType": "text-pane"}'
            >
            </a-entity>
          </a-entity>
        </a-entity>
        <a-entity id="readRoom" position="0 -500 0">
          <a-entity
            id="blackboard"
            visible="true"
            geometry="primitive: plane; width: 18 ; height: 15"
            material="color: #333333; shader: flat; transparent: false"
          >
          </a-entity>
          <a-entity
            id="returnButton"
            close-popup='jsonData: {"width": "1", "height": "1", "depth": "0.01", "color": "red", "x": "-8.25", "y": "6.75", "z": "0.005"};'
            class="link"
          ></a-entity>
          <a-entity
            id="popup-camera"
            position="0 0 9"
            rotation="0 0 0"
            camera="active: true;"
          ></a-entity>
        </a-entity>

        <!-- Objects in the scene -->

        <a-gltf-model
          id="3-obj"
          src="#1-asset-src"
          position="-5.775 0.014 5.717"
          scale="1.0 1.0 1.0"
          rotation="0.0 180.0 0.0"
          class="link"
          animation__onclick="property: position; dur: 0; startEvents: click"
          animation-on-click-run='blackboardData: {"jsonData": {"model": "basic", "password": "abcde", "is_last_object": true}, "componentType": "keypad"}'
        >
          <a-text
            value="Find the password. Try the hints!"
            position="-3 1 0"
            rotation="0 0 0"
          ></a-text>
        </a-gltf-model>

        <a-gltf-model
          id="4-obj"
          src="#1-asset-src"
          position="-5.775 0.014 -5.717"
          scale="1.0 1.0 1.0"
          rotation="0.0 0.0 0.0"
          class="link"
          animation__onclick="property: position; dur: 0; startEvents: click"
          animation-on-click-run='blackboardData: {"jsonData": {"data": [{"text": "This is just text for you to read. This might have clues in the actual escape room so keep an eye out for these. The images can be useful too.", "imageSrc": "/static/img/dev/pic1.png"}, {"text": "More text, more clues. Click the RED box in top left to close this at anytime. You can also go back if you want."}, {"text": "This is some more text. This is some more text. This is some more text.", "imageSrc": "/static/img/dev/pic2.png"}, {"text": "This is the last text, clicking Done will close this."}], "currPosition": 0}, "componentType": "text-pane"}'
        >
          <a-text
            value="CLICK ME!"
            position="0 1.25 0"
            rotation="0 0 -30"
          ></a-text>
        </a-gltf-model>

        <a-gltf-model
          id="5-obj"
          src="#1-asset-src"
          position="0.0 0.014 5.717"
          scale="1.0 1.0 1.0"
          rotation="0.0 0.0 0.0"
          class="link"
          animation__onclick="property: position; dur: 0; startEvents: click"
          animation-on-click-run='blackboardData: {"jsonData": {"caption": "Click on one of the chairs in the corners. If asked for a password, enter abcde to go to the next level. If not asked, try another chair.", "scaleBy": 3, "imageSrc": "/static/img/dev/pic1.png", "position": [0, 0, 0]}, "componentType": "visual-pane"}'
        >
          <a-text value="CLICK ME!" position="0 1.25 0" rotation="0 180 -30">
          </a-text>
        </a-gltf-model>
      </a-scene>
      <script>
        const scene = document.querySelector("a-scene");
        // Transition logic only needed for non-admins

        <!-- Logic for scene completion -->
        const intro_transition_data = {
          data: [
            {
              text:
                "Welcome to the tutorial. Above image is the hint button. In the game, it will give you hint.",
              imageSrc: "/static/img/lightOn.png",
            },
            {
              text:
                "If you click this kind of light, it will give you the hint but it will be the same old hint.",
              imageSrc: "/static/img/lightOff.png",
            },
            {
              text:
                "Use WASD or the arrow keys to move around. Use your mouse to pan and interact with objects.",
            },
          ],
          currPosition: 0,
        };
        intro_transition_data["isTransition"] = false;
        addTransition(intro_transition_data);
        scene.addEventListener("dcc-success-scene-complete", function () {
          let transitionData = {
            data: [
              {
                text: "You are about to enter the escape room! All the best!",
              },
            ],
            currPosition: 0,
          };

          transitionData["transitionURL"] =
            "/{{ scenario_friendly_name }}/" + 0;
          transitionData["isTransition"] = true;
          addTransition(transitionData);
        });

        function addTransition(transition_data) {
          let componentDataParsed = {
            componentType: "text-pane",
            jsonData: transition_data,
          };
          addEntityToBlackboard(componentDataParsed);
        }
        async function sceneComplete(numSeconds, nextURL) {
          setTimeout(function () {
            window.location.replace(nextURL);
          }, numSeconds * 1000);
        }
      </script>
    </div>
  </body>
</html>
